#section-1 {
  padding: 24vw 0;
  position: relative;
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

    &::after {
      content: "";
      clear: both;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    position: relative;

    h1 {
      font-size: 3vw;
      margin-bottom: 2vw;
      color: var(--main-color);
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 8vw;
      }
    }

    h5 {
      font-size: 1.5vw;
      font-weight: 400;
      color: #fff;

      @media (max-width: 768px) {
        font-size: 5vw;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 60vw 0 40vw 0;
  }
}
