@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard-subset.css");
:root {
  --main-color: #fae017;
  --header-z-index: 7777;
  --header-menu-cover-z-index: 7778;
  --header-menu-z-index: 7779;
}

* {
  font-family: "Pretendard";
  font-display: swap;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  word-break: break-all;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
